@charset "ISO-8859-1";

.banner{
	background-image: url("/images/background.jpg");
	background-size: cover;
 	background-repeat: no-repeat;
 	height: 550px;
  	width: 100%;
}
h1{
	color: white;
	font-size : 80px;
	padding-top: 200px;
	padding-left: 60px;
}
h3{
	color: white;
	font-size : 60px;
	padding-left: 60px;
}